<div class="container">
  <div class="cell cell-transparent">
    <div class="flexbox flexbox-between-center">
      <h1>Contratos</h1>
    </div>

    <p class="lead text-muted mb-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officiis exercitationem autem eveniet obcaecati, earum odio maxime ipsum enim animi molestias ducimus nobis expedita iure ea inventore reiciendis pariatur reprehenderit?
    </p>
  </div>

  <div class="cell">
    <div class="row">
      <div class="col-2">
        <h3 class="mb-0">Table</h3>
      </div>
      <div class="col-8 pl-4">
        <div class="flexbox flexbox-between-center">
          <%= search_form_for @query, url: url_for(controller: controller_name, action: :index), class: 'w-100' do |f| %>
            <%= f.hidden_field :status_eq, class: 'd-none' %>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-text border-0 px-3">
                    <%= inline_svg_pack_tag 'media/icons/search.svg', class: 'icon icon-sm' %>
                  </div>
                  <%= f.search_field :customer_name_or_property_code_cont, class: 'form-control form-control-sm bg-light border-0', placeholder: 'pesquise por propriedade ou cliente...' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-2 text-right">
        <%= link_to 'Limpar pesquisa', contracts_path %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-2">
        <div class="bg-light rounded border p-3 h-100">
          <%= render 'filters' %>
        </div>
      </div>
      <div class="col-10 pl-4">
        <%= render 'table' %>
        <%= will_paginate @contracts, list_classes: %w(pagination justify-content-end) %>
      </div>
    </div>
  </div>
</div>
