<div class="container">
  <section class="cell pb-3 my-5">
    <div class="flexbox flexbox-50-50 flexbox-between-center my-3">
      <div>
        <div class="flexbox flexbox-between-center mb-4">
          <%= render Static::Button.new(
            type: 'back round',
            to: edit_contract_path(@contract),
            class: 'ml-2',
          )%>
          <div class="d-flex align-items-center">
            <% unless @contract.active? %>
              <%= render Static::Button.new(
                type: 'delete round',
                to: contract_path(@contract),
                method: :delete,
                class: 'ml-2',
                tooltip: t('component.buttons.tooltips.delete_contract')
              )%>
            <% end %>
            <%= render Static::Button.new(
              type: 'edit round',
              to: edit_contract_path(@contract),
              class: 'ml-2',
              tooltip: t('component.buttons.tooltips.edit_contract')
            )%>
            <%= render Static::Button.new(
              type: 'comment round',
              class: 'ml-2',
              tooltip: t('component.buttons.tooltips.view_comments'),
              data: {
                reflex: 'click->Comments#toggle_modal',
                commentable_id: @contract.id,
                commentable_type: @contract.class.to_s
              }
            ) %>
            <% if @contract.active? %>
              <%= render Static::Button.new(
                type: 'add round',
                class: 'ml-2',
                icon: 'receipt',
                data: { reflex: 'click->Contracts#generate_next_rent', id: @contract.id },
                tooltip: t('component.buttons.tooltips.create_next_rent')
              )%>
            <% end %>
          </div>
        </div>
        <div class="flexbox flexbox-between-center">
          <div>
            <div class="flexbox flexbox-start-center">
              <h1><%= @contract.name %></h1>
              <h6 class="mb-0 ml-2 badge bg-primary"><%= @contract.status %></h6>
            </div>
          </div>
        </div>
      <p class="lead text-muted">
        <%= link_to @contract.property_code, property_path(@contract.property), class: 'text-muted' %>
        , <%= t('components.contracts.page.property_of') %>

        <% if @contract.property_owner.is_a? Customer %>
          <%= link_to @contract.property_owner_contact_name, @contract.property_owner, class: 'text-muted' %>
        <% else %>
          <%= @contract.property_owner_contact_name %>
        <% end %>
      </p>
      </div>
    </div>

    <div class="flexbox flexbox-start-center bg-light cell shadow-none lead">
      <div>
        <strong class="pl-2 text-decoration-underline"><%= format_date @contract.start_date %></strong>
      </div>
      <span class="mx-1 mx-lg-4">
        <%= inline_svg_pack_tag 'media/icons/arrow-right.svg' %>
      </span>
      <div>
        <strong class="pl-2 text-decoration-underline"><%= format_date @contract.end_date %></strong>
      </div>
      <span class="mx-1 mx-lg-4">|</span>
      <div>
        <%= t('components.contracts.page.duration') %>:
        <strong class="pl-2 text-decoration-underline"><%= @contract.duration %></strong>
      </div>
      <span class="mx-1 mx-lg-4">|</span>
      <div>
        <%= t('components.contracts.page.renegotiation') %>:
        <strong class="pl-2 text-decoration-underline"><%= @contract.renegotiation_duration %></strong>
        <span class="small text-light">
          (<%= t('components.contracts.page.ends_on', date: format_date(@contract.renegotiation_period_end_date)) %>)
        </span>
      </div>
    </div>

    <article class="my-5">
      <h2 class="h6"><%= t('components.contracts.page.details') %></h2>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl>
            <dt><%= t('components.contracts.page.pending_amounts') %>:</dt>
            <dd><%= @contract.rents_unpaid? ? @contract.rents_unpaid_amount : 'não' %></dd>
          </dl>
        </div>
        <div class="col-6">
          <dl>
            <dt><%= t('components.contracts.page.invoice_amount') %>:</dt>
            <dd><%= humanized_money_with_symbol @contract.rent_invoice_value %></dd>
          </dl>
        </div>
        <div class="col-6">
          <dl>
            <dt><%= t('components.contracts.page.invoicing_frequency') %>:</dt>
            <dd><%= t('frequencies.every', x: @contract.invoicing_frequency_value, units: @contract.invoicing_frequency_unit) %></dd>
          </dl>
        </div>
        <div class="col-6">
          <dl>
            <dt><%= t('components.contracts.page.next_rent_date') %>:</dt>
            <dd><%= format_date @contract.next_rent_due_date %></dd>
          </dl>
        </div>
      </div>
    </article>
    <article class="my-5">
      <h2 class="h6"><%= t('components.contracts.page.values') %></h2>
      <hr>
      <div class="flexbox flexbox-50-50 flexbox-between-stretch">
        <dl>
          <dt><%= t('components.contracts.page.total_rent') %>:</dt>
          <dd><%= humanized_money_with_symbol @contract.rent_full %></dd>
          <dt><%= t('components.contracts.page.net_rent') %>:</dt>
          <dd><%= humanized_money_with_symbol @contract.rent_amount %></dd>
        </dl>
        <dl>
          <dt><%= t('components.contracts.page.deposit_amount') %>:</dt>
          <dd><%= humanized_money_with_symbol @contract.deposit %></dd>
          <dt><%= t('components.contracts.page.charges_amount') %>:</dt>
          <dd><%= humanized_money_with_symbol @contract.rent_charges %></dd>
        </dl>
      </div>
    </article>
    <article class="my-5">
      <h2 class="h6"><%= t('components.contracts.page.client_details') %></h2>
      <hr>
      <div class="flexbox flexbox-50-50 flexbox-between-stretch">
        <dl>
          <dt><%= t('components.contracts.page.name') %>:</dt>
          <dd><%= @contract.customer_contact_name %></dd>
          <dt><%= t('components.contracts.page.email') %>:</dt>
          <dd><%= @contract.customer_contact_email %></dd>
        </dl>
        <dl>
          <dt><%= t('components.contracts.page.account_manager') %>:</dt>
          <dd><%= @contract.account_manager_name %></dd>
          <dt><%= t('components.contracts.page.phone_number') %>:</dt>
          <dd><%= @contract.customer_phone %></dd>
        </dl>
      </div>
    </article>
  </section>
</div>
