<ul class="nav flex-column list-group">
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_eq: property_statuses[:brand_new], anchor: 'properties-table'), class: 'list-group-link' do %>
      <span class="signal signal-primary mr-1"></span>
      Novo
    <% end %>
  </li>
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_eq: property_statuses[:available], anchor: 'properties-table'), class: 'list-group-link' do %>
      <span class="signal signal-success mr-1"></span>
      Disponível
    <% end %>
  </li>
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_eq: property_statuses[:in_negotiation], anchor: 'properties-table'), class: 'list-group-link' do %>
      <span class="signal signal-warning mr-1"></span>
      Em Negociação
    <% end %>
  </li>
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_eq: property_statuses[:occupied], anchor: 'properties-table'), class: 'list-group-link' do %>
      <span class="signal signal-danger mr-1"></span>
      Ocupado
    <% end %>
  </li>
  <li class="list-group-item">
    <%= active_link_to current_query_url(status_eq: property_statuses[:ooo], anchor: 'properties-table'), class: 'list-group-link' do %>
      <span class="signal signal-medium mr-1"></span>
      Indisponível
    <% end %>
  </li>
</ul>
