<div class="row" id="rents-table">
  <div class="col-2">
    <div class="bg-light rounded border p-3 h-100">
      <%= render 'rents/filters' %>
    </div>
  </div>
  <div class="col-10 pl-4">
    <div class="border-bottom font-weight-normal px-3 py-2 mb-2">
      <div class="row">
        <div class="col-2">
          <%= sort_link(@query, :property_code, 'Property', anchor: 'rents-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :due_date, 'Data de Cobrança', anchor: 'rents-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :full_cents, 'Valor', anchor: 'rents-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :market_value_cents, 'Valor de Mercado', anchor: 'rents-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :invoice, 'Fatura', anchor: 'rents-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :status, 'Estado', anchor: 'rents-table') %>
        </div>
      </div>
    </div>

    <div class="mb-4">
    <% if @rents.empty? %>
      <p>No rents found.</p>
    <% else %>
      <%= render partial: 'rents/table-card', collection: @rents, as: :rent %>
    <% end %>

    </div>

    <%= will_paginate @rents, list_classes: %w(pagination justify-content-end) %>
  </div>
</div>
</div>
