<div class="card text-dark px-3 py-2 mb-2">
  <%= link_to '', rent_path(rent), class: 'stretched-link' %>
  <div class="row">
    <div class="col-2">
      <span><%= rent.property_code %></span>
    </div>
    <div class="col-2">
      <span><%= format_date rent.due_date %></span>
    </div>
    <div class="col-2">
      <span><%= humanized_money_with_symbol rent.full %></span>
    </div>
    <div class="col-2">
      <span><%= humanized_money_with_symbol rent.amount %></span>
    </div>
    <div class="col-2">
      <% if rent.invoice.attached? %>
        <%= link_to(rent.invoice.filename, rails_blob_path(rent.invoice, disposition: 'attachment')) if rent.invoice.attached? %>
      <% else %>
        <span class="text-muted">(por gerar)</span>
      <% end %>
    </div>
    <div class="col-2">
      <span><%= rent.status %></span>
    </div>
  </div>
</div>
