<div class="container">
  <div class="cell cell-transparent">
    <div class="flexbox flexbox-between-center">
      <h1>Rendas</h1>
    </div>
    <p class="lead text-muted mb-0">
      Nesta tabela encontrará as rendas com faturas emitidas até à data. Faturas são emitidas a cada dia <%= current_organization.default_rent_issuing_day %> do mês
    </p>
  </div>

  <div class="cell">
    <div class="row">
      <div class="col-2">
        <h3 class="mb-0">Table</h3>
      </div>
      <div class="col-10 pl-4">
        <div class="flexbox flexbox-between-center">
          <%= search_form_for @query, url: url_for(controller: controller_name, action: :index), class: 'w-50' do |f| %>
            <%= f.hidden_field :status_eq, class: 'd-none' %>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-text border-0 px-3">
                    <%= inline_svg_pack_tag 'media/icons/search.svg', class: 'icon icon-sm' %>
                  </div>

                  <%# f.search_field :property_name_or_customer_name_cont, class: 'form-control form-control-sm bg-light border-0', placeholder: 'pesquise por código ou nome...' %>
                </div>
              </div>
            </div>

          <% end %>
          <%= render 'nav' %>
        </div>
      </div>
    </div>
    <hr>
    <%= render 'table' %>
</div>
