<%= component_controller do %>
  <% if @editing %>
    <%= form_for @enterprise, url: properties_path, as: :enterprise do |f| %>
      <%= f.rich_text_area :description %>
      <%= reflex_tag :update_description, :button, 'Update', class: 'btn btn-sm btn-primary mt-3' %>
      <%= reflex_tag :toggle_edit, :button, 'Cancel', class: 'btn btn-sm btn-muted mt-3' %>
    <% end %>
  <% else %>
    <% if @enterprise.description.present? %>
      <p class="font-italic">
        <%= @enterprise.description %>
        <%= reflex_tag :toggle_edit, :a, 'Edit.', class: 'd-block link-animated text-muted mt-3' %>
      </p>
    <% else %>
      <p class="font-italic">
        <%= reflex_tag :toggle_edit, :a, 'No description available, click to edit.', class: 'link-animated text-muted' %>
      </p>
    <% end %>
  <% end %>
<% end %>
