<%= component_controller do %>
  <%= simple_form_for @organization, as: :organization, url: form_path do |f| %>
    <section class="mb-5">
      <h2 class="h6">Nome</h2>
      <p class="text-muted">
        Defina o nome da sua organização e faça upload do logo que será usado no interface.
      </p>
      <div class="row">
        <div class="col-6">
          <%= f.input :name, label: 'Nome da organização', placeholder: 'e.g. A minha empresa', input_html: { data: reflex_data_attributes('input->validate_name') } %>
        </div>
      </div>
      <%= f.input :logo, label: 'Logo', label_html: { class: 'd-block mb-2' }, input_html: { class: 'd-block' }, hint: 'Selecione um ficheiro.' %>
    </section>

    <section class="mb-5">
      <h2 class="h6">Faturação</h2>
      <p class="text-muted">
        Defina os dias a que as faturas serão emitidas. Por defeito, emissão será feita a dia 15 do mês anterior, e cobrança a dia 1.
      </p>
      <div class="row">
        <div class="col-4">
          <%= f.input :default_rent_due_day, label: 'Dia de Cobrança de faturas' %>
        </div>
        <div class="col-4">
          <%= f.input :default_rent_issuing_day, label: 'Dia de Emissão de Faturas' %>
        </div>
      </div>
    </section>

    <section class="mb-5">
      <h2 class="h6">Contacto</h2>
      <p class="text-muted">
        Especifique os detalhes de contacto da sua organização.
      </p>
      <%= f.simple_fields_for :contact do |cf| %>
        <div class="row">
          <div class="col-6">
            <%= cf.input :name, label: 'Nome Legal (usado em faturas)', placeholder: 'e.g. A minha empresa Lda.' %>
          </div>
          <div class="col-6">
            <%= cf.input :email, as: :email, label: 'Email', placeholder: 'e.g. informação@a-minha-empresa.com' %>
          </div>
          <div class="col-10">
            <label for="phone">Nr de Telefone</label>
            <div class="input-group mb-3">
              <%= cf.input :phone_country_code, as: :select, collection: phone_country_codes, label: false, wrapper: false, input_html: { class: 'w-25 form-select'} %>
              <%= cf.input :phone_number, as: :tel, label: false, wrapper: false, placeholder: 'e.g. 2132233232' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= cf.input :government_id, label: 'Identificação Legal', placeholder: 'e.g. 342342344' %>
          </div>
          <div class="col-6">
            <%= cf.input :vat_number, label: 'Número de Identificação Fiscal (VAT)', placeholder: 'e.g. 342342344' %>
          </div>

          <div class="col-6">
          </div>
        </div>
      <% end %>
    </section>

    <section class="mb-5">
      <h2 class="h6">Morada</h2>
      <p class="text-muted">
        Adicione os detalhes de morada a usar para faturação.
      </p>
      <%= f.simple_fields_for :address do |caf| %>
        <div class="row">
          <div class="col-6">
            <%= caf.input :street, label: 'Morada', placeholder: 'e.g. Rua Rainha Njinga 87' %>
          </div>
          <div class="col-3">
            <%= caf.input :floor, label: 'Andar', placeholder: 'e.g. 11' %>
          </div>
          <div class="col-3">
            <%= caf.input :door, label: 'Lado/Nr. Porta', placeholder: 'e.g. D' %>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= caf.input :city, label: 'Cidade', placeholder: 'e.g. Luanda' %>
          </div>
          <div class="col-3">
            <%= caf.input :zip_code, label: 'Código Postal', placeholder: 'e.g. 1000' %>
          </div>
          <div class="col-6">
            <%= caf.input :country_code, as: :country, label: 'País', placeholder: 'e.g. Angola', input_html: { class: 'form-select' } %>
          </div>
        </div>
      <% end %>
    </section>

    <section class="mb-5">
      <h2 class="h6">Conta Bancária primária</h2>
      <p class="text-muted">
        A conta bancária cujos detalhes serão usados em faturas.
      </p>
      <%= f.simple_fields_for :bank_accounts do |baf| %>
        <%= baf.hidden_field :primary, value: true %>
        <div class="row">
          <div class="col-5">
            <%= baf.input :name, label: 'Nome da Conta', placeholder: 'e.g. A minha empresa' %>
          </div>
          <div class="col-4">
            <%= baf.input :bank_name, label: 'Banco', placeholder: 'e.g. BES' %>
          </div>
          <div class="col-3">
            <%= baf.input :SWIFT, label: 'SWIFT/BIC', placeholder: 'e.g. BESAO' %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= baf.input :number, label: 'Nr de Conta', placeholder: 'e.g. 423423442342342' %>
          </div>
          <div class="col-6">
            <%= baf.input :IBAN, label: 'IBAN', placeholder: 'e.g. PT2342424234234234234' %>
          </div>
        </div>
      <% end %>
    </section>

    <section class=" d-flex justify-content-end">
      <%= f.submit submit_copy, class: 'btn btn-primary' %>
    </section>
  <% end %>
<% end %>
