<div class="row" id="properties-table">
  <div class="col-2">
    <div class="bg-light rounded border p-3 h-100">
      <%= render 'properties/filters' %>
    </div>
  </div>
  <div class="col-10 pl-4">
    <div class="border-bottom font-weight-normal px-3 py-2 mb-2">
      <div class="row">
        <div class="col-2">
          <%= sort_link(@query, :status, 'Estado', anchor: 'properties-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :code, 'Código', anchor: 'properties-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :name, 'Nome', anchor: 'properties-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :typology, 'Tipologia', anchor: 'properties-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :market_value_cents, 'Valor de Mercado', anchor: 'properties-table') %>
        </div>
        <div class="col-2">
          <%= sort_link(@query, :default_rent_cents, 'Renda', anchor: 'properties-table') %>
        </div>
      </div>
    </div>

    <% if @properties.empty? %>
      <p>No properties found.</p>
    <% else %>
      <%= render Properties::Table::PropertyComponent.with_collection(@properties) %>
    <% end %>

    <%= will_paginate @properties, list_classes: %w(pagination justify-content-end) %>
  </div>
</div>
</div>
