<%= reflex_tag 'shown.bs.dropdown->load_notifications', :li, class: 'nav-item mr-4 dropdown', data: { reflex_root: '#notifications-dropdown-menu-content' } do %>
  <a class="nav-link dropdown-toggle btn-light btn-round btn-round-sm no-caret <%= 'signal-notification' if current_user.notifications.unread.any? %>" href="#" id="notifications-dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
    <%= inline_svg_pack_tag 'media/icons/bell-fill.svg', class: 'icon icon-sm icon-black stretched-link' %>
  </a>
  <div class="dropdown-menu py-0 mt-3 dropdown-menu-right dropdown-menu-xl position-absolute" id="notifications-dropdown-menu" aria-labelledby="#notifications-dropdown">
    <ul class="list-unstyled" id="notifications-dropdown-menu-content">
      <%= component_controller do %>
        <li>
          <h6 class="d-flex justify-content-between dropdown-header align-items-center">
            <span>
              Notificações

              <% if @notifications&.any? %>
                <span class="ml-2 badge bg-danger">
                  <%= @notifications.count %>
                </span>
              <% end %>
            </span>

            <%= reflex_tag :mark_all_as_read, :a, 'Marcar todas', class: 'text-muted float-right' %>
          </h6>
        </li>
        <% if @notifications&.any? %>
          <% @notifications.each do |notification| %>
            <li class="dropdown-list-item font-weight-normal">
              <%= link_to notification.url, class: 'link text-black' do %>
                <%= notification.message_html %>
              <% end %>
              <div class="d-flex justify-content-end">
                <%= reflex_tag :mark_as_read, :a, 'marcar como lida', data: { id: notification.id }, class: 'small text-danger' %>
              </div>
            </li>
          <% end %>
        <% else %>
            <li><span class="dropdown-item py-3 text-muted disabled">Não tem notificações não lidas.</span></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
