<%= content_tag(:div, class: wrapper_class) do %>
  <%= app_reflex_tag :hide_sidepane, :div, '', class: 'sidepane-backdrop' %>

  <aside class="sidepane-dialog">
    <%= app_reflex_tag :hide_sidepane, :button, icon('x', class: 'icon icon-lg'), class: 'btn btn-round bg-light sidepane-close' %>

    <header class="sidepane-header">
      <%= @header %>
    </header>
    <section class="sidepane-content">
      <%= @content %>
    </section>
    <footer class="sidepane-footer">
      <%= @footer %>
    </footer>
  </aside>
<% end %>
