<% if flash[:success] %>
  <div class="alert alert-success alert-dismissable" role="alert">
    <span class="close" data-dismiss="alert">
      <%= inline_svg_pack_tag 'media/icons/x.svg' %>
    </span>
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable" role="alert">
    <span class="close" data-dismiss="alert">
      <%= inline_svg_pack_tag 'media/icons/x.svg' %>
    </span>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <span class="close" data-dismiss="alert">
      <%= inline_svg_pack_tag 'media/icons/x.svg' %>
    </span>
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <span class="close" data-dismiss="alert">
      <%= inline_svg_pack_tag 'media/icons/x.svg' %>
    </span>
    <%= flash[:alert] %>
  </div>
<% end %>
